
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    overflow-x: hidden;
}
.npy_mod_98 ion-icon {
    font-size: 48px;
}
.primary-btn{
    all: unset;
    background-color: #F96B00;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    text-align: center;
}

/* section npy_mod_100 */
.npy_mod_98 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1240px;
    margin-inline: auto;
    margin-top: 100px;
    overflow-x: visible;
}

.npy_mod_98 .text-content {
    width: 60%;
}

.npy_mod_98 .cards-container {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}
.npy_mod_98 .cards-container .card{
    display: flex;
    flex-direction: column;
    height: 340px;
    min-width: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px  0px 25px 10px #3080c149;
    user-select: none;
}

.npy_mod_98 .card .img-container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex: 1;
}

.npy_mod_98 .card .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    flex-basis: 30%;
}

.npy_mod_98 .card .text ion-icon{
    font-size: 13px;
    margin-right: 5px;
}

.npy_mod_98 .img-slider {
    display: flex;
    overflow: hidden;
}
.npy_mod_98 .img-slider div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.npy_mod_98 .img-slider div img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.npy_mod_98 .img-slider {
    scroll-snap-type: x mandatory;
}
  
.npy_mod_98 .img-slider div {
    scroll-snap-align: start; 
}

.npy_mod_98 .arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .8);
}
.npy_mod_98 .btnLeft:hover,
.npy_mod_98 .btnRight:hover{
    color: white;
    scale: 1.1;
}
.npy_mod_98 .arrows ion-icon {
    cursor: pointer;
    font-size: 40px;
}
 /* mod 98 media queries */
@media only screen and (max-width: 768px) {
    body.disabled{
        overflow-y: hidden;
    }
    .npy_mod_98 {
        width: 100%;
    }
    .npy_mod_98 .cards-container .card{
        min-width: 85vw;
        width: 85vw;
    }
    .npy_mod_98 .text-content,
    .npy_mod_98 .carousel > h3,
    .npy_mod_98 .cards-container {
        padding-left: 5%;
    }
    .npy_mod_98 h1,
    .npy_mod_98 h3 {
        font-weight: 900;
    }
    .npy_mod_98 .text-content {
        width: 95%;
        gap: 50px;
        margin-bottom: 25px;
    }
    .npy_mod_98 .text-content h1{
        width: 50%;
        margin-bottom: 25px;
    }
    .npy_mod_98 .cards-container {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px;
        overflow-x: scroll;
    }
    .npy_mod_98 .cards-container .card {
        height: 450px;
        box-shadow: 0px  0px 25px 10px #3080c149;
    }
    
    .npy_mod_98 .cards-container .card .text {
        padding: 5px 25px;
        justify-content: space-evenly;
    }
}
/* mod 99 */
    .npy_mod_99 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        margin: 100px 0;
        padding: 10px;
    }
    input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        font: inherit;
        color: currentColor;
        border: 1px solid currentColor;
        border-radius: 50%;
        margin-right: 5px;
    }
    input[type="radio"]:checked {
        appearance: none;
        width: 20px;
        height: 20px;
        font: inherit;
        background: #7bff9a;
    }
    .npy_mod_99 .upper{
        width: 1240px;
        margin-inline: auto;
        height: 150px;
    }

    .npy_mod_99 .dates .dropdown {
        width: max-content;
    }
    .npy_mod_99 .upper h3 {
        margin-bottom: 50px;
      }
    /* primary list station/categorie/date/personnes */
    .npy_mod_99 .upper .primary{
        display: flex;
        align-items: center;
        width: max-content;
        justify-content: center;
        height: 70px;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0px  0px 25px 10px #3080c149;
    }
    .npy_mod_99 .upper  .primary li > p{
        padding: 0 10px;
    }
    .npy_mod_99 .personnes .dropdown .number > p{
        display: none;
    }
    .npy_mod_99 .personnes .dropdown .number > div{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }

    .npy_mod_99 .upper .primary ion-icon{
        color:  black;
        margin-right: 5px;
    }
    /* active primary list */
    .npy_mod_99 .upper  .primary.active{
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 0;
        background-color: white;
        justify-content: center;
    }

    .npy_mod_99 .upper  .primary > li{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        padding: 0 50px;
        border-right: 1px solid #3080c149;
    }

    .npy_mod_99 .upper  .primary > li:nth-child(3){
        gap: 50px;
    }

    .npy_mod_99 .upper .primary > li:last-child,
    .npy_mod_99 .upper .primary > li:nth-last-child(2){
        border: none;
    }
    /* dropdowns */
    .npy_mod_99 .primary li.active .dropdown {
        display: block;
    }

    .npy_mod_99 .dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        display: none;
        z-index: 15;
    }
    .npy_mod_99 .dropdown ul{
        list-style: none;
        line-height: 40px;
    }
    .npy_mod_99 .dropdown ul li{
        background-color: #3080c149;
    }
    .npy_mod_99 .dropdown ul li.active{
        background-color: #fff;
    }
    .npy_mod_99 .dropdown ul li .secondary {
        display: none;
        width: 500px;
        height: 100%;
        overflow-y: auto;
        padding-left: 25px;
        word-wrap: break-word;
        background-color: white;
    }
    .npy_mod_99 .dropdown ul li.active .secondary {
        display: flex;
        flex-direction: column;
    }
    .npy_mod_99 .category form.dropdown {
        display: flex;
        flex-direction: column;
    }

    .npy_mod_99 .dropdown .secondary{
        position: absolute;
        top: 0;
        left: 100%;
    }

    /* category dropdown */
    .npy_mod_99 .dropdown > form{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 0 10px;
    }
    .npy_mod_99 .controls,
    .npy_mod_99 .btn{
        display: none;
    }
  .npy_mod_99 .lower {
    display: flex;
    gap: 25px;
    width: 100%;
  }
  .npy_mod_99 ion-icon {
    color: white;
  }
  .npy_mod_99 .card-wide {
    display: flex;
    overflow: hidden;
    width: 850px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px #3080c149;
  }
  
  /* image carousel */
    .npy_mod_99 .img-slider {
        scroll-snap-type: x mandatory;
    }

    .npy_mod_99 .img-slider div {
        scroll-snap-align: start; 
    }
  .npy_mod_99 .card-wide .img-container {
    flex-basis: 45%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .npy_mod_99 .img-slider{
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  .npy_mod_99 .img-slider div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .npy_mod_99 .img-slider img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  /* like and left/right arrows  */
  .npy_mod_99 .card-wide .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5%;
  }
  .npy_mod_99 .like {
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 5%;
  }
  .npy_mod_99 .like ion-icon,
  .npy_mod_99 .card-wide ion-icon{
    font-size: 40px;
  }

  .npy_mod_99 .arrows ion-icon {
    opacity: .7;
  }
  .npy_mod_99 .arrows .btnLeft:hover,
  .npy_mod_99 .arrows .btnRight:hover{
    opacity: 1;
    cursor: pointer;
  }

  /* card description */
  .npy_mod_99 .card-wide .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    height: 100%;
    padding: 20px;
  }

  .npy_mod_99 .description p:last-child{
    background-color: rgba(0, 47, 108, .1);
    border-radius: 5px;
    padding: 20px;
  }
  .npy_mod_99 .rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .npy_mod_99 .rating p:first-child,
  .npy_mod_99 .rating p:last-child{
    color: #2A8E48;
    background-color:rgba(42, 142, 72, .3);
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
  }

  .npy_mod_99 .rating ion-icon {
    font-size: 16px;
    color: var(--dark-blue);
  }

  /* lower container */
.npy_mod_99 .options {
    width: 250px;
    margin-right: 50px;
    padding-left: 50px;
}
.npy_mod_99 .lower .options input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin: 5px 0;
    cursor: pointer;
    accent-color: #7bff9a;
}
.npy_mod_99 .lower .options p{
    font-weight: 500;
}  
.npy_mod_99 .lower .options form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.npy_mod_99 .lower .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.npy_mod_99 .map{
    position: relative;
}
.npy_mod_99 .map iframe {
    width: 640px;
    height: 700px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.npy_mod_99 .map.bottom iframe{
    position: absolute;
    bottom: 0;
}
.npy_mod_99 .map.active {
    border-radius: 15px;
}


.npy_mod_99 .map.active iframe{
    position: fixed;
    top: 75px;
}

.npy_mod_99 .optionsSort{
    width: 90%;
    margin-inline: auto;
    display: none;
}
.npy_mod_99 .optionsSort h3 {
    margin-bottom: 20px;
}
.npy_mod_99 .optionsSort ul{

    display: flex;
    list-style: none;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3B8BDB2B;
    border-radius: 10px;
}
.npy_mod_99 .optionsSort ul li {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    border-right: 1px solid #3B8BDB2B;
}
.npy_mod_99 .optionsSort ul li:last-child{
    border: none;
}
.npy_mod_99 .optionsSort ion-icon {
    color: black;
    font-size: 16px;
    margin-right: 5px;
}

/* mod 99 media queries */
@media only screen and (max-width: 768px) {
    /* mod_99 upper container media queries */
    .npy_mod_99 .upper {
        width: 90%;
        margin-inline: auto;
        height: max-content;
    }
    .npy_mod_99 .upper .primary li p {
        font-weight: 700;
    }
    .npy_mod_99 .upper .primary li ion-icon {
        margin-right: 10px;
    }
    .npy_mod_99 .upper .primary {
        flex-direction: column;
        padding: 15px 0;
        border: none;
    }
    .npy_mod_99 .upper .primary {
        position: static;
        width: 100%;
        height: max-content;
    }
    .npy_mod_99 .upper .primary > li {
        position: static;
        width: 80%;
        justify-content: flex-start;
        padding: 0;
        padding: 25px 0;
        border: none;
        border-bottom: 1px solid #3080c149;
        position: static;
    }
    .npy_mod_99 .upper .primary li:last-child {
        justify-content: center;
    }
    .npy_mod_99 .upper .primary > li:nth-child(3){
        justify-content: space-between;
    }
    .npy_mod_99 .upper .primary li:last-child button {
        text-align: center;
        width: 100%;
    }
    /* active primary list */
    .npy_mod_99 .upper .primary li.active .dropdown {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 50;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }    
    .npy_mod_99 .dropdown ul,
    .npy_mod_99 .dropdown form,
    .npy_mod_99 .dropdown > div.number {
        height: 100%;
        overflow-y: scroll;
        background-color: white;
    }
    .npy_mod_99 .dropdown > div.number {
        display: flex;
        justify-content: space-between;
        padding: 25px 10%;
    }
    .npy_mod_99 .dropdown > div.number button{
        width: 25px;
    }
    .npy_mod_99 .personnes .dropdown .number > p{
        display: block;
    }
    .npy_mod_99 .dropdown ul li{
        padding: 15px 0;
        background-color: white;
        width: 90%;
        margin-inline: auto;
        border-bottom: 1px solid #3080c149;
    }
    .npy_mod_99 .dropdown ul li p,
    .npy_mod_99 .dropdown > form{
        font-weight: 700;
    }
    .npy_mod_99 .dropdown ul li:last-child{
        border: none;
    }
    .npy_mod_99 .dropdown ul li p{

        background-color: white;
    }
    .npy_mod_99 .dropdown ul li .secondary{
        position: static;
        width: 100%;
        padding: 0;
    }
    .npy_mod_99 ion-icon {
        color: black;
    }

    /* calendar*/
    #calendar {
        width: 90%;
        margin-inline: auto;
        height: 100%;

    }
    .vanilla-calendar-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-inline: auto;
        width: 100%;
        font-size: 15px;
    }
    .vanilla-calendar-content *{
        font-size: 18px;
    }
    /* previous page, close modal, confirm selection buttons */
    .npy_mod_99 .btn,
    .npy_mod_99 .controls {
        display: flex;
        align-items: center;
        height: 70px;
    }
    .npy_mod_99 .btn {
        justify-content: center;
        border-top: 1px solid #3080c149;
    }
    .npy_mod_99 .controls {
        padding-inline: 25px;
        justify-content: space-between;
        border-bottom: 1px solid #3080c149;
    }
    .npy_mod_99 .controls ion-icon {
        font-size: 24px;
    }
    .npy_mod_99 .controls p {
        display: flex;
        align-items: center;
    }
    .npy_mod_99 .options,
    .npy_mod_99 .map{
        display: none;
    }
    .npy_mod_99 .lower .cards{
        width: 100%;
        overflow: hidden;
        padding: 30px 0;
    }
    .npy_mod_99 .cards .card-wide {
        flex-direction: column;
        width: 90%;
        margin-inline: auto;
        height: fit-content;
    }
    .npy_mod_99 .card-wide .description {
        justify-content: space-between;
    }

    .npy_mod_99 .card-wide .img-container {
        width: 100%;
        flex-basis: 60%;
    }
    .npy_mod_99 .img-slider{
        height: 100%;
        width: 100%;
    }
    .npy_mod_99 .img-slider div{
        min-height: 100%;
        min-width: 100%;
    }
    .npy_mod_99 .img-slider > img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .npy_mod_99 .like {
        top: 5%;
        right: 5%;
        left: auto;
    }
    .npy_mod_99 .optionsSort{
        display: block;
    }
}

.testt {
    width: 500px;
    height: 300px;
    margin-inline: auto;
    background-color: green;
}


.npy_mod_100 {
    width: 1240px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3000px;
}
/* mod 100 media queries */
@media only screen and (max-width: 768px) {
    .npy_mod_100 {
        width: 100%;
        padding-inline: 5%;
    }
}