
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    overflow-x: hidden;
}
.npy_mod_98 ion-icon {
    font-size: 48px;
}
/* general */
ul {
    list-style: none;
}
.primary-btn{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F96B00;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
}
.hide-lg {
    display: none;
}
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
}
input[type="radio"]:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    font: inherit;
    background: #7bff9a;
}

/* section npy_mod_100 */
.npy_mod_98 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1240px;
    margin-inline: auto;
    margin-top: 100px;
    overflow-x: visible;
}

.npy_mod_98 .text-content {
    width: 60%;
}

.npy_mod_98 .cards-container {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}
.npy_mod_98 .cards-container .card{
    display: flex;
    flex-direction: column;
    height: 340px;
    min-width: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px  0px 25px 10px #3080c149;
    user-select: none;
}

.npy_mod_98 .card .img-container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex: 1;
}

.npy_mod_98 .card .text {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    flex-basis: 25%;
}

.npy_mod_98 .card .text ion-icon{
    font-size: 13px;
    margin-right: 5px;
}

.npy_mod_98 .img-slider {
    display: flex;
    overflow: hidden;
}
.npy_mod_98 .img-slider div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.npy_mod_98 .img-slider div img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.npy_mod_98 .img-slider {
    scroll-snap-type: x mandatory;
}
  
.npy_mod_98 .img-slider div {
    scroll-snap-align: start; 
}

.npy_mod_98 .arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .8);
}
.npy_mod_98 .btnLeft:hover,
.npy_mod_98 .btnRight:hover{
    color: white;
    scale: 1.1;
}
.npy_mod_98 .arrows ion-icon {
    cursor: pointer;
    font-size: 40px;
}
 /* mod 98 media queries */
@media only screen and (max-width: 768px) {
    body.disabled{
        overflow-y: hidden;
    }
    .npy_mod_98 {
        width: 100%;
    }
    .npy_mod_98 .cards-container .card{
        min-width: 85vw;
        width: 85vw;
    }
    .npy_mod_98 .text-content,
    .npy_mod_98 .carousel > h3,
    .npy_mod_98 .cards-container {
        padding-left: 5%;
    }
    .npy_mod_98 h1,
    .npy_mod_98 h3 {
        font-weight: 900;
    }
    .npy_mod_98 .text-content {
        width: 95%;
        gap: 50px;
        margin-bottom: 25px;
    }
    .npy_mod_98 .text-content h1{
        width: 50%;
        margin-bottom: 25px;
    }
    .npy_mod_98 .cards-container {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px;
        overflow-x: scroll;
    }
    .npy_mod_98 .cards-container .card {
        height: 450px;
        box-shadow: 0px  0px 25px 10px #3080c149;
    }

    .npy_mod_98 .cards-container .card .text {
        padding: 5px 25px;
        justify-content: space-evenly;
    }
}
    /* mod 99 */
.npy_mod_99 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin: 100px 0;
    padding: 10px;
}
/* start upper */
.npy_mod_99 .upper{
    width: 1240px;
    margin-inline: auto;
    height: 150px;
}
.npy_mod_99 .upper > h3 {
    margin-bottom: 70px;
}

.npy_mod_99 .upper label {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* primary unordered list */
.npy_mod_99 .primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px  0px 25px 10px #3080c149;
    z-index: 5;
}
.npy_mod_99 .primary li > button{
    height: 70%;
    font-weight: 700;
}
.npy_mod_99 .primary.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
}
.npy_mod_99 .primary ion-icon {
    margin-right: 7px;
    color: var(--dark-blue);
}
.npy_mod_99 .controls ion-icon{
    --ionicon-stroke-width: 50px;
}
.npy_mod_99 .controls .hide-lg p:first-child ion-icon{
    --ionicon-stroke-width: 10px;
}
/* primary list */
.npy_mod_99 .primary > li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 70%;
    border-right: 1px solid #3080c149;
    cursor: pointer;
}
.npy_mod_99 .primary > li p{
    font-weight: 700;
}
.npy_mod_99 .primary > li:nth-last-child(1),
.npy_mod_99 .primary > li:nth-last-child(2){
    border-right: none;
}
.npy_mod_99 .primary > li:nth-child(3){
    flex: 1;
    max-width: 320px;
}
.npy_mod_99 .primary > li:nth-child(3) .dateButtons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
.npy_mod_99 .primary > li:nth-child(3) .dateButtons p{
    display: flex;
    align-items: center;
    justify-content: center;
}   
/* dropdown menu for each li item */
.npy_mod_99 .primary .dropdown {
    display: flex;
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    min-width: 100%;
    max-width: fit-content;
    padding: 20px 30px 10px 20px;
    background-color: white;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 0px  10px 20px 5px #3080c149;
    z-index: 1000;
}
.npy_mod_99 .primary li > .dropdown {
    display: none;
 }
 .npy_mod_99 .primary li.active > .dropdown {
    display: block;
 }

 /* close modal button for screen width higher than 768px */
 @media only screen and (min-width: 768px){
    .npy_mod_99 .primary .dropdown .controls .closeBtn {
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        padding: 2px;
        font-size: 30px;
        transform: translate(35%,-35%);
        background-color: #d6e7ff;
        border-radius: 50%;
    }
}

 .npy_mod_99 .primary .category .dropdown,
 .npy_mod_99 .primary .dates .dropdown,
 .npy_mod_99 .primary .personnes .dropdown {
    overflow: hidden;
 }

/***
 *    ███████ ████████  █████  ████████ ██  ██████  ███    ██ 
 *    ██         ██    ██   ██    ██    ██ ██    ██ ████   ██ 
 *    ███████    ██    ███████    ██    ██ ██    ██ ██ ██  ██ 
 *         ██    ██    ██   ██    ██    ██ ██    ██ ██  ██ ██ 
 *    ███████    ██    ██   ██    ██    ██  ██████  ██   ████ 
 *                                                                                                                       
 */

.npy_mod_99 .station,
.npy_mod_99 .category,
.npy_mod_99 .dates,
.npy_mod_99 .personnes {
    position: relative;
}
.npy_mod_99 .station .dropdown {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.npy_mod_99 .station .dropdown .secondary{
    position: absolute;
    left: calc( 100% );
    top: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: max-content;
    height: 100%;
    padding: 20px 30px 10px 10px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 13px  10px 30px 5px #3080c149;
}
.npy_mod_99 .station .dropdown ul > li{
    padding: 0 5px;
    cursor: pointer;
}
.npy_mod_99 .station .dropdown ul > li.active{
    background-color: #3080c149;
    border-radius: 5px;
}
.npy_mod_99 .station .dropdown li.active .secondary{
    display: flex;
}

/* dropdown-menu for station */

/***
 *     ██████  █████  ████████ ███████  ██████   ██████  ██████  ██    ██ 
 *    ██      ██   ██    ██    ██      ██       ██    ██ ██   ██  ██  ██  
 *    ██      ███████    ██    █████   ██   ███ ██    ██ ██████    ████   
 *    ██      ██   ██    ██    ██      ██    ██ ██    ██ ██   ██    ██    
 *     ██████ ██   ██    ██    ███████  ██████   ██████  ██   ██    ██    
 *                                                                        
 *                                                                        
 */

.npy_mod_99 .primary .category .dropdown{
    display: none;
}
.npy_mod_99 .primary .category.active .dropdown{
    display: flex;
}
.npy_mod_99 .primary .category .dropdown form{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.npy_mod_99 .primary .category .dropdown input{
    margin-left: auto;
}
/***
 *    ██████   █████  ████████ ███████ ███████ 
 *    ██   ██ ██   ██    ██    ██      ██      
 *    ██   ██ ███████    ██    █████   ███████ 
 *    ██   ██ ██   ██    ██    ██           ██ 
 *    ██████  ██   ██    ██    ███████ ███████ 
 *                                             
 *                                             
 */

.npy_mod_99 .primary .dates .dropdown{
    display: none;
}
.npy_mod_99 .primary .dates.active .dropdown{
    display: flex;
}
/***
 *    ██████  ███████ ██████  ███████  ██████  ███    ██ ███    ██ ███████ ███████ 
 *    ██   ██ ██      ██   ██ ██      ██    ██ ████   ██ ████   ██ ██      ██      
 *    ██████  █████   ██████  ███████ ██    ██ ██ ██  ██ ██ ██  ██ █████   ███████ 
 *    ██      ██      ██   ██      ██ ██    ██ ██  ██ ██ ██  ██ ██ ██           ██ 
 *    ██      ███████ ██   ██ ███████  ██████  ██   ████ ██   ████ ███████ ███████ 
 *                                                                                 
 *                                                                                 
 */

 .npy_mod_99 .primary .personnes .dropdown{
    display: none;
}
.npy_mod_99 .primary  .personnes.active .dropdown{
    display: flex;
    padding-bottom: 20px;
}
 .npy_mod_99 .primary .personnes .ctrlButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
 }
 .npy_mod_99 .personnes .dropdown .main-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
 } 
 .npy_mod_99 .primary .personnes .main-content ion-icon {
    color: var(--dark-blue);
    font-size: 40px;
 }

/* 
 ███    ███ ███████ ██████  ██  █████  
 ████  ████ ██      ██   ██ ██ ██   ██ 
 ██ ████ ██ █████   ██   ██ ██ ███████ 
 ██  ██  ██ ██      ██   ██ ██ ██   ██ 
 ██      ██ ███████ ██████  ██ ██   ██  
*/

 @media only screen and (max-width: 768px){
    .hide-lg {
        display: block;
    }
    .npy_mod_99 .upper {
        width: 90%;
        margin-inline: auto;
        height: auto;

    }
    .npy_mod_99 .primary {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .npy_mod_99 .upper .primary > li {
        border-bottom: 1px solid #3080c149;
        width: 80%;
        justify-content: flex-start;
    }
    
    .npy_mod_99 .primary > li,
    .npy_mod_99 .primary > li:nth-child(3){
        border-right: none;
        flex: none;
        height: 100px;
        min-width: 80%;
    }
    .npy_mod_99 .primary > li:nth-child(3) .dateButtons{
        justify-content: space-between;
        padding: 0;
    }
    .npy_mod_99 .primary > li:nth-child(4),
    .npy_mod_99 .primary > li:last-child{
        border-bottom: none;
    }
    .npy_mod_99 .primary > li:last-child{
        justify-content: center;
    }
    .npy_mod_99 .primary > li:last-child button{
        width: 100%;
        height: 50px;
    }
    
    .npy_mod_99 .primary .station {
        position: static;
    }
    
    .npy_mod_99 .primary > li.active .dropdown {
        position: fixed;
        z-index: 50;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .npy_mod_99 .controls ion-icon {
        font-size: 32px;
    }
    .npy_mod_99 .controls {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 20px;
        height: fit-content;
        width: 100%;
        gap: 10px;
    }
    .npy_mod_99 .controls > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }
    .npy_mod_99 .controls p {
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    .npy_mod_99 .controls > p ion-icon{
        font-size: 20px;
        --ionicon-stroke-width: 30px;
        margin-inline: 5px;
        
    }

    .npy_mod_99 .btnValider {
        height: 85px;
        border-top: 1px solid #3080c149;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .npy_mod_99 .btnValider button{
        height: 65%;
        font-weight: 700;
    }
    .npy_mod_99 .dropdown .main-content {
        padding: 20px 30px;
        flex: 1;
        width: 100%;
        overflow-y: auto;
    }
    /***
        *    ███████ ████████  █████  ████████ ██  ██████  ███    ██ 
        *    ██         ██    ██   ██    ██    ██ ██    ██ ████   ██ 
        *    ███████    ██    ███████    ██    ██ ██    ██ ██ ██  ██ 
        *         ██    ██    ██   ██    ██    ██ ██    ██ ██  ██ ██ 
        *    ███████    ██    ██   ██    ██    ██  ██████  ██   ████ 
        *                                                                                                                       
        */
    
    .npy_mod_99 .station .dropdown .main-content > ul li {
        padding: 20px;
        border-bottom: 1px solid #3080c149;
        border-radius: 0;
    }
    .npy_mod_99 .station .dropdown .main-content > ul li:last-child {
        border-bottom: none;
    }
    .npy_mod_99 .station .dropdown .main-content > ul li.active{
        background-color: white;
    } 
    .npy_mod_99 .station .dropdown .main-content > ul li.active .secondary {
        position: static;   
        padding: 0;
        box-shadow: none;
        width: 100%;
    }
    .npy_mod_99 .station .dropdown .secondary input{
        margin-left: auto;
    }
    .npy_mod_99 .station .dropdown .main-content .controls{
        position: absolute;
        right: 100%;
    }
/***
*     ██████  █████  ████████ ███████  ██████   ██████  ██████  ██    ██ 
*    ██      ██   ██    ██    ██      ██       ██    ██ ██   ██  ██  ██  
*    ██      ███████    ██    █████   ██   ███ ██    ██ ██████    ████   
*    ██      ██   ██    ██    ██      ██    ██ ██    ██ ██   ██    ██    
*     ██████ ██   ██    ██    ███████  ██████   ██████  ██   ██    ██    
*                                                                        
*                                                                        
*/

.npy_mod_99 .category form{
    min-width: 100%;
}

    
/***
*    ██████   █████  ████████ ███████ ███████ 
*    ██   ██ ██   ██    ██    ██      ██      
*    ██   ██ ███████    ██    █████   ███████ 
*    ██   ██ ██   ██    ██    ██           ██ 
*    ██████  ██   ██    ██    ███████ ███████ 
*                                             
*                                             
*/

    
    .npy_mod_99 .primary .dates .dropdown #calendar{
        width: 100%;
        height: 100%;
    }
    .npy_mod_99 .primary .dates .dropdown .vanilla-calendar-grid{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    
/***
*    ██████  ███████ ██████  ███████  ██████  ███    ██ ███    ██ ███████ ███████ 
*    ██   ██ ██      ██   ██ ██      ██    ██ ████   ██ ████   ██ ██      ██      
*    ██████  █████   ██████  ███████ ██    ██ ██ ██  ██ ██ ██  ██ █████   ███████ 
*    ██      ██      ██   ██      ██ ██    ██ ██  ██ ██ ██  ██ ██ ██           ██ 
*    ██      ███████ ██   ██ ███████  ██████  ██   ████ ██   ████ ███████ ███████ 
*                                                                                 
*                                                                                 
*/
    .npy_mod_99 .primary .personnes .main-content {
            width: 100%;
            height: 100%;
            justify-content: space-between;
    }
    .npy_mod_99 .primary .personnes .main-content .ctrlButtons {
        height: auto;
    }

 }
/* end media */


/* npy_mod_99 middle section */
.npy_mod_99 .middle{
    width: 1240px;
    margin-inline: auto;
    /* display: none; */
}
.npy_mod_99 .middle .sortResults {
    display: flex;
    gap: 10px;
    align-items: center;
}
.npy_mod_99 .middle .sortResults h3{
    margin-right: 50px;
}
.npy_mod_99 .sort-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 5;
}
.npy_mod_99 .sort-modal .controls > div{
    display: flex;
}
.npy_mod_99 .sort-modal > div:last-child{
    padding: 30px;
    line-height: 40px;
}



/* npy_mod_99 middle section media queries*/
@media only screen and (max-width: 768px) {
    .npy_mod_99 .middle {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        margin-inline: auto;
    }
    .npy_mod_99 .middle .sortResults p,
    .npy_mod_99 .middle .sortResults select{
        display: none;
    }
    .npy_mod_99 .searchFilter{
        display: block;
    }
    .npy_mod_99 .searchFilter > ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 70px;
        border-radius: 10px;
        border: 1px solid #3080c149;
    }
    .npy_mod_99 .searchFilter > ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .npy_mod_99 .searchFilter > ul li{
        border-right: 1px solid #3080c149;
    }
    .npy_mod_99 .searchFilter > ul li:last-child{
        border-right: 0;
    }
    .npy_mod_99 .searchFilter > ul ion-icon{
        margin-right: 10px;
    }
    .npy_mod_99 .middle .sort-modal.active {
        display: block;
    }

}

.npy_mod_99 .lower {
    display: flex;
    gap: 25px;
}
.npy_mod_99 ion-icon {
    color: white;
}
.npy_mod_99 .card-wide {
    display: flex;
    overflow: hidden;
    width: 850px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px #3080c149;
}
  
  /* image carousel */
    .npy_mod_99 .img-slider {
        scroll-snap-type: x mandatory;
    }

    .npy_mod_99 .img-slider div {
        scroll-snap-align: start; 
    }
  .npy_mod_99 .card-wide .img-container {
    flex-basis: 45%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .npy_mod_99 .img-slider{
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  .npy_mod_99 .img-slider div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .npy_mod_99 .img-slider img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  /* like and left/right arrows  */
  .npy_mod_99 .card-wide .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5%;
  }
  .npy_mod_99 .like {
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 5%;
  }
  .npy_mod_99 .like ion-icon,
  .npy_mod_99 .card-wide ion-icon{
    font-size: 40px;
  }
  .npy_mod_99 .like ion-icon:hover {
    scale: 1.1;
  }
  .npy_mod_99 .arrows ion-icon {
    opacity: .7;
  }
  .npy_mod_99 .arrows .btnLeft:hover,
  .npy_mod_99 .arrows .btnRight:hover{
    opacity: 1;
    scale: 1.1;
    cursor: pointer;

  }

  /* card description */
  .npy_mod_99 .card-wide .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    flex: 1;
    height: 100%;
    padding: 15px;
  }

  .npy_mod_99 .description p:last-child{
    background-color: rgba(0, 47, 108, .1);
    border-radius: 5px;
    padding: 15px;
  }
  .npy_mod_99 .rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .npy_mod_99 .rating p:first-child,
  .npy_mod_99 .rating p:last-child{
    display: flex;
    align-items: center;
    color: #2A8E48;
    font-weight: 700;
    background-color:rgba(42, 142, 72, .3);
    border-radius: 5px;
    padding: 5px;
  }

  .npy_mod_99 .rating ion-icon {
    font-size: 16px;
    color: var(--dark-blue) !important;
  }

  /* lower container */
.npy_mod_99 .lower .options {
    width: max-content;
    margin-right: 50px;
    padding-left: 50px;
}
.npy_mod_99 .lower .options form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}
.npy_mod_99 .lower .options form label{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.npy_mod_99 .lower .options input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    accent-color: #7bff9a;
}

.npy_mod_99 .lower .options > p{
    font-weight: 500;
}  
.npy_mod_99 .lower .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.npy_mod_99 .map{
    position: relative;
    background-color: white;
}

.npy_mod_99 .map iframe {
    width: 640px;
    height: 700px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.npy_mod_99 .map.bottom iframe{
    position: absolute;
    bottom: 0;
}
.npy_mod_99 .map.active {
    border-radius: 15px;
}


.npy_mod_99 .map.active iframe{
    position: fixed;
    top: 75px;
}

.npy_mod_99 ion-icon {
    color: black;
}
.npy_mod_99 .card-wide ion-icon {
    color: white;
}

/* lower container options/price  */
.npy_mod_99 .lower .options .prix {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}
.npy_mod_99 .lower .options .prix input[type="range"] {
    margin-top: 20px;
}

.npy_mod_99 .lower .options input[type="range"]{
    appearance: none;
    width: 100%;
    height: 10px;
    margin-left: 5px;
    background-color: #3080c149;
    padding: 0;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
    accent-color: #F96B00;
}
.npy_mod_99 .lower .options input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #F96B00;
    height: 30px;
    width: 30px;   
    border-radius: 50%; 
}
.npy_mod_99 .lower .options input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #F96B00;
    height: 30px;
    width: 30px;   
    border-radius: 50%; 
}
.npy_mod_99 .lower .options input[type="number"]{
    appearance: none;
    border: none;
    width: 100px;
    height: 48px;
    padding: 0 5px;
    text-align: center;
    border-radius: 0;
    font-size: 16px;
}
.npy_mod_99 .lower .numInput {
    display: flex;
    align-items: center;
    /* height: fit-content; */
    width: fit-content;
    border: 1px solid #3080c149;
    border-radius: 5px;
    overflow: hidden;
}
.npy_mod_99 .lower .numInput ion-icon{
    font-size: 48px;
    background-color: #F96B00;
    color: white;
}
/* mod 99 media queries */
@media only screen and (max-width: 768px) {
    /* mod_99 lower container media queries */
    .npy_mod_99 .options,
    .npy_mod_99 .map{
        display: none;
    }
    .npy_mod_99 .options.active{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 5;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .npy_mod_99 .options.active form{
        width: 100%;
        margin-inline: auto;
        line-height: 40px;
        padding: 30px;
        height: 100%;
        overflow-y: auto;
    }
    .npy_mod_99 .map.full{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .npy_mod_99 .map .controls{
        background-color: white;
        justify-content: flex-end;
    }
    .npy_mod_99 .map.full iframe{
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .npy_mod_99 .map.full .mapFilter{
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 30px;
        height: 50px;
    }
    .npy_mod_99 .mapFilter ion-icon{
        color: white;
        margin-right: 5px;
    }
    .npy_mod_99 .lower .cards{
        width: 100%;
        overflow: hidden;
        padding: 30px 0;
    }
    .npy_mod_99 .cards .card-wide {
        flex-direction: column;
        width: 90%;
        margin-inline: auto;
        height: fit-content;
    }
    .npy_mod_99 .card-wide .description {
        justify-content: space-evenly;
        font-size: 14px;
    }
    .npy_mod_99 .description p:last-child{
        padding: 5px;
      }

    .npy_mod_99 .card-wide .img-container {
        width: 100%;
        flex-basis: 60%;
    }
    .npy_mod_99 .img-slider{
        height: 100%;
        width: 100%;
    }
    .npy_mod_99 .img-slider div{
        min-height: 100%;
        min-width: 100%;
    }
    .npy_mod_99 .img-slider > img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .npy_mod_99 .like {
        top: 5%;
        right: 5%;
        left: auto;
    }
}
/* mod 100 */
.npy_mod_100 {
    width: 1240px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3000px;
}
/* mod 100 media queries */
@media only screen and (max-width: 768px) {
    .npy_mod_100 {
        width: 100%;
        padding-inline: 5%;
    }
}





/* -------------------------------- 