@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    font: inherit;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 50%;
    margin-right: 5px;
}
input[type="radio"]:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    font: inherit;
    background: #7bff9a;
}

.npy_mod_99 {
    margin-top: 200px;
    width: 100%;
}

.npy_mod_99 .upper{
    width: 1240px;
    margin-inline: auto;
}

/* primary list 
station/categorie/date/personnes */
.npy_mod_99 .upper .primary{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    height: 100%;
    height: 70px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px  0px 25px 10px #3080c149;
}
/* active primary list */
.npy_mod_99 .upper  .primary.active{
    position: fixed;
    left: 0;
    width: 100vw;
    border-radius: 0;
    justify-content: center;
}

.npy_mod_99 .upper  .primary > li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding: 0 50px;
    border-right: 1px solid #3080c149;
}
.npy_mod_99 .upper  .primary > li:nth-child(3) span{
    margin-left: 70px;
}

.npy_mod_99 .upper .primary > li:last-child,
.npy_mod_99 .upper .primary > li:nth-last-child(2){
    border: none;
}
.npy_mod_99 .upper  .primary button{
    all: unset;
    background-color: #F96B00;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
/* dropdowns */
.npy_mod_99 .primary li.active .dropdown {
    display: block;
}

.npy_mod_99 .dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    display: none;
}
.npy_mod_99 .dropdown ul{
    list-style: none;
    line-height: 40px;
}
.npy_mod_99 .dropdown ul li{
    background-color: #3080c149;
}
.npy_mod_99 .dropdown ul li.active{
    background-color: #fff;
}
.npy_mod_99 .dropdown ul li .secondary {
    display: none;
    width: 500px;
    height: 100%;
    overflow-y: auto;
    padding-left: 25px;
    word-wrap: break-word;
    background-color: white;
}
.npy_mod_99 .dropdown ul li.active .secondary {
    display: flex;
    flex-direction: column;
}
.npy_mod_99 .category form.dropdown {
    display: flex;
    flex-direction: column;
}

.npy_mod_99 .dropdown .secondary{
    position: absolute;
    top: 0;
    left: 100%;
}

/* category dropdown */
.npy_mod_99 .dropdown > form{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0 10px;
}

.npy_mod_99 .personnes .dropdown > div {
    padding: 15px;
}
.npy_mod_99 .controls,
.npy_mod_99 .btn{
    display: none;
}

@media only screen and (max-width: 768px) {
    .npy_mod_99 .upper {
        width: 80%;
        margin-inline: auto;
    }
    .npy_mod_99 .upper .primary {
        flex-direction: column;
        padding: 15px 0;
        border: none;
    }
    .npy_mod_99 .upper .primary {
        position: static;
        width: 100%;
        height: max-content;
    }
    .npy_mod_99 .upper .primary > li {
        position: static;
        width: 80%;
        justify-content: flex-start;
        padding: 0;
        padding: 25px 0;
        border: none;
        border-bottom: 1px solid #3080c149;
        position: static;
    }
    .npy_mod_99 .upper .primary li:last-child {
        justify-content: center;
    }
    .npy_mod_99 .upper .primary > li:nth-child(3) span {
        margin-left: auto;
    }
    .npy_mod_99 .upper .primary li:last-child button {
        text-align: center;
        width: 100%;
    }
    /* active primary list */
    .npy_mod_99 .upper .primary li.active .dropdown {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 50;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }    
    .npy_mod_99 .dropdown ul,
    .npy_mod_99 .dropdown form,
    .npy_mod_99 .dropdown > div.number {
        height: 100%;
        overflow-y: scroll;
        background-color: white;
    }
    .npy_mod_99 .dropdown ul li{
        padding: 15px 0;
        background-color: white;
        width: 90%;
        margin-inline: auto;
        border-bottom: 1px solid #3080c149;
    }
    .npy_mod_99 .dropdown ul li p,
    .npy_mod_99 .dropdown > form{
        font-weight: 700;
    }
    .npy_mod_99 .dropdown ul li:last-child{
        border: none;
    }
    .npy_mod_99 .dropdown ul li p{

        background-color: white;
    }
    .npy_mod_99 .dropdown ul li .secondary{
        position: static;
        width: 100%;
        padding: 0;
    }

    /* previous page, close modal, confirm selection buttons */
    .npy_mod_99 .btn,
    .npy_mod_99 .controls {
        display: flex;
        align-items: center;
        height: 70px;
    }
    .npy_mod_99 .btn {
        justify-content: center;
        border-top: 1px solid #3080c149;
    }
    .npy_mod_99 .controls {
        padding-inline: 25px;
        justify-content: space-between;
        border-bottom: 1px solid #3080c149;
    }
    .npy_mod_99 .controls ion-icon {
        font-size: 24px;
    }
    .npy_mod_99 .controls p {
        display: flex;
        align-items: center;
    }
}
